h1 {font-family: "Carattere"; 
    font-weight: 300;
    font-style: normal;
    font-size: 40px;  
    text-align: center; 
    color:rgb(44, 43, 42)}
a {color:rgb(172, 172, 172);
    margin-right: 20px; 
    margin-left: 20px; 
    font-size: 18px; 
    text-decoration: none;}
.back a {color:rgb(172, 172, 172);
        font-family:arial; 
        margin-right: 20px; 
        margin-left: 20px; 
        font-size: 15px; 
        text-decoration: none;}
body{
    background-image:url(pppp.jpg); font-family:Times; background-size: 1450px;
    color:rgb(77, 63, 63);
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.b {
    
    background-color: white; 
    width: 70%; 
    padding-bottom: 5%; 
    padding-top: 1%; 
    border-radius: 20px;
    margin-top: 50px;
transition: all 0.5s;}
.c {padding-top: 1%;
    padding-bottom: 1%; background-color: rgb(255, 255, 255);}
input[type="submit"] {
    background-color:none; font-family: arial; font-size: 20px; 
    text-decoration: none;
    border:none;
    color:rgb(173, 173, 173)
}
.word {margin-bottom: 3%}
.dropdown {
    position: relative;
    display: inline-block
}
.dropdownstuff {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: left;
}
.dropdownstuff a{
    font-size: 12px;
}
.dropdown:hover .dropdownstuff {
    display: block
}
.line {
    width:100%;
    height:2px;
    background-color: grey
}
*,
*::before
*::after {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 
@media (max-width:600px) {
    .b {
        width: 99%; 
        padding-bottom: 0%; 
        padding-top: 1%; 
        border-radius: 20px;
        margin-top:80px;
    }}